## Helmert Enconding

Helmert encoding, also known as target mean encoding or mean encoding, is a technique used in categorical feature encoding. It replaces each category in a categorical variable with the mean of the target variable for that category. This encoding can be useful when the target variable shows a clear relationship with the categories.

In [32]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [25]:
# Sample data
df = pd.DataFrame({
    'CPU': ['Core i5', 'Core i7', 'Core i5', 'Core i9', 'Core i7', 'Core i5'],
    'Price': [800, 1200, 900, 2000, 1500, 1000]
})

In [26]:
df

       CPU  Price
0  Core i5    800
1  Core i7   1200
2  Core i5    900
3  Core i9   2000
4  Core i7   1500
5  Core i5   1000

In [39]:
means = df.groupby('CPU')['Price'].mean()
means

CPU
Core i5     900.0
Core i7    1350.0
Core i9    2000.0
Name: Price, dtype: float64

In [40]:
means = means.sort_values(ascending=False)
means

CPU
Core i9    2000.0
Core i7    1350.0
Core i5     900.0
Name: Price, dtype: float64

In [47]:
df['Helmert_Encoded'] = means[df['CPU']].reset_index(drop=True)
df

       CPU  Price  Helmert_Encoded
0  Core i5    800            900.0
1  Core i7   1200           1350.0
2  Core i5    900            900.0
3  Core i9   2000           2000.0
4  Core i7   1500           1350.0
5  Core i5   1000            900.0

In [48]:
# Prepare X and y for linear regression
X = encoded_df.values
y = df['Price'].values

# Fit linear regression model
regression_model = LinearRegression()
regression_model.fit(X, y)

# Print model coefficients
coefficients = regression_model.coef_
print('Model Coefficients:')
for i, col in enumerate(encoded_df.columns):
    print(f'{col}: {coefficients[i]}')

Model Coefficients:
Helmert_900.0: -516.6666666666666
Helmert_1350.0: -66.66666666666647
Helmert_2000.0: 583.3333333333331