## 3. Binary Encoding: 

Binary encoding represents each category as a binary code. It involves assigning a
unique binary code (e.g., 0001, 0010, 0011) to each category and represents the category using a
combination of binary digits. This method reduces the dimensionality compared to one-hot encoding while
capturing some information about the categories.

### 3.1 Import Library

In [ ]:
import pandas as pd
import numpy as np
import category_encoders as ce

### 3.2 Define a function

In [105]:
def binary_encoder(df, cols=None):
    cbe = ce.binary.BinaryEncoder(cols)
    return cbe.fit_transform(df)

### 3.3 Define sample #1

In [106]:
sample1 = {
    'Color': ['Red', 'Blue', 'Green', 'Red', 'Green'],
    'Size': ['Small', 'Large', 'Medium', 'Medium', 'Small']
}
sample1

### 3.4 Put into Pandas DataFrame

In [120]:
df = pd.DataFrame(sample1)
df

   Color    Size
0    Red   Small
1   Blue   Large
2  Green  Medium
3    Red  Medium
4  Green   Small

### 3.5 Show Unique Category

In [122]:
df.Color.unique()

array(['Red', 'Blue', 'Green'], dtype=object)

In [123]:
binary_encoder = ce.binary.BinaryEncoder(cols=['Color'])#, 'Size'
sample1_encoded = binary_encoder.fit_transform(df[['Color']])#, 'Size'

# Print the encoded dataframe
print(sample1_encoded)

   Color_0  Color_1
0        0        1
1        1        0
2        1        1
3        0        1
4        1        1

In [118]:
binary_encoder.inverse_transform([[0,1], [1,0], [1,1], [0,1], [1,1]])

   Color
0    Red
1   Blue
2  Green
3    Red
4  Green

In [119]:
dummie_color = pd.get_dummies(df['Color'])
dummie_color

   Blue  Green  Red
0     0      0    1
1     1      0    0
2     0      1    0
3     0      0    1
4     0      1    0

In [97]:
decode_dummie_color = dummie_color.idxmax(axis=1)

In [98]:
decode_dummie_color

0      Red
1     Blue
2    Green
3      Red
4    Green
dtype: object

In [ ]:
Sample 2

In [80]:
sample2 = {
    'Color': ['Red', 'Blue', 'Green', 'Red', 'Green','Black'],
    'Size': ['Small', 'Large', 'Medium', 'Medium', 'Small', 'Smallest']
}

In [81]:
df2 = pd.DataFrame(sample2)

In [82]:
df2['Color']

0      Red
1     Blue
2    Green
3      Red
4    Green
5    Black
Name: Color, dtype: object

In [84]:
df2.Color.unique()

array(['Red', 'Blue', 'Green', 'Black'], dtype=object)

In [103]:
binary_encoder(df2['Color'], cols=['Color'])

   Color_0  Color_1  Color_2
0        0        0        1
1        0        1        0
2        0        1        1
3        0        0        1
4        0        1        1
5        1        0        0

In [104]:
sample1_encoded

   Color_0  Color_1
0        0        1
1        1        0
2        1        1
3        0        1
4        1        1

In [86]:
result_bec

   Color_0  Color_1  Color_2
0        0        0        1
1        0        1        0
2        0        1        1
3        0        0        1
4        0        1        1
5        1        0        0

In [87]:
bec.inverse_transform([[1,0,0]])

   Color
0  Black

- Looking at Pandas get_dummies

In [88]:
dummie_color2 = pd.get_dummies(df2['Color'])
dummie_color2

   Black  Blue  Green  Red
0      0     0      0    1
1      0     1      0    0
2      0     0      1    0
3      0     0      0    1
4      0     0      1    0
5      1     0      0    0

Conclusion: 
    
- Reduce Column & Value (dimensionality)
- Introduct to category_encoders libray

Link: [PyThon Category Encoder](https://pypi.org/project/category-encoders/)