# Ouch Bros

# 11. Polynomial Encoding

Polynomial encoding, also known as polynomial regression or polynomial features, is a technique used in machine learning and statistics to capture nonlinear relationships between variables. It involves transforming the original features or predictors by creating new features that are derived from the powers of the original features.

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
import category_encoders as ce

In [15]:
df = pd.read_csv(
        'https://raw.githubusercontent.com/scikit-learn-contrib/categorical-encoding/master/examples/source_data/cars/car.data.txt'
    )
df

     buying  maint  doors persons lug_boot safety  class
0     vhigh  vhigh      2       2    small    low  unacc
1     vhigh  vhigh      2       2    small    med  unacc
2     vhigh  vhigh      2       2    small   high  unacc
3     vhigh  vhigh      2       2      med    low  unacc
4     vhigh  vhigh      2       2      med    med  unacc
...     ...    ...    ...     ...      ...    ...    ...
1723    low    low  5more    more      med    med   good
1724    low    low  5more    more      med   high  vgood
1725    low    low  5more    more      big    low  unacc
1726    low    low  5more    more      big    med   good
1727    low    low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [16]:
df["class"].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [25]:
X = df.reindex(columns=[x for x in df.columns.values if x != 'class'])
y = df.reindex(columns=['class'])
y = preprocessing.LabelEncoder().fit_transform(y.values.reshape(-1, ))

In [26]:
y

array([2, 2, 2, ..., 2, 1, 3])

In [18]:
X.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [19]:
X_trans = ce.PolynomialEncoder().fit_transform(X,y)
X_trans.head()

C:\Users\ouch.bros\AppData\Local\anaconda3\lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",
C:\Users\ouch.bros\AppData\Local\anaconda3\lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

,intercept,buying_0,buying_1,buying_2,maint_0,maint_1,maint_2,doors_0,doors_1,doors_2,persons_0,persons_1,lug_boot_0,lug_boot_1,safety_0,safety_1
0,1,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.707107,0.408248,-7.071068e-01,0.408248,-7.071068e-01,0.408248
1,1,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.707107,0.408248,-7.071068e-01,0.408248,-4.433780e-17,-0.816497
2,1,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.707107,0.408248,-7.071068e-01,0.408248,7.071068e-01,0.408248
3,1,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.707107,0.408248,-4.433780e-17,-0.816497,-7.071068e-01,0.408248
4,1,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.67082,0.5,-0.223607,-0.707107,0.408248,-4.433780e-17,-0.816497,-4.433780e-17,-0.816497

In [ ]:
# intercept column represents the constant term or the bias term in a polynomial regression model.